version: "3"

services:
  app:
    image: docker-traefik-technitium-companion
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - HOST=${HOST}
      - API_TOKEN=${API_TOKEN}
      - ZONE=${ZONE}
      - DESTINATION=${DESTINATION}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
